<!-- @user.transactions -->
<h1> Total Transactions
  <%= @transactions.count %>
</h1>

<h2>Transaction Details</h2>
<table>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><b> Amount </b></td>
    <td><%= transaction.amount %></td>
  </tr>
  <tr>
    <td><b> Value </b></td>
    <td><%= transaction.value %></td>
  </tr>
  <tr>
    <td><b> Quantity </b></td>
    <td><%= transaction.quantity %></td>
  </tr>
  <% end %>
</table>

<div>
  <%= link_to "Back to User", users_show_path %> |
</div>