<table>

  <tr>
    <td><b>First Name : </b></td>
    <td><%=@user.first_name %></td>
  </tr>

  <tr>
    <td><b>Last Name : </b></td>
    <td><%=@user.last_name %></td>
  </tr>

  <tr>
    <td><b>Email : </b></td>
    <td><%=@user.email %></td>
  </tr>

  <tr>
    <td><b>Birthdate : </b></td>
    <td><%=@user.birthdate %></td>
  </tr>

  <tr>
    <td><b>Currency : </b></td>
    <td><%=@user.currency.name %></td>
  </tr>

  </table>