<!DOCTYPE html>
<html>
  <head>
    <title>LoyaltyTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a1818">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "User", users_show_path, :class => 'nav-link fs-5 pr-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "Transactions", users_display_transactions_path, :class => 'nav-link fs-5 pr-3' %>
              </li>
              <li class="nav-item">
                <%= link_to "New Transaction", new_transaction_path, :class => 'nav-link fs-5 pr-3' %>
              </li> 
              </ul>
              <form class="d-flex">
                <li><%= link_to "Log out", '/users/sign_out', :class => 'btn btn-primary btn-group-sm border border-secondary fs-5 ', :style => 'background-color: #1a1818', :method => :delete %></li>
              </form>
            <% else %>
            </ul>
              <form class="d-flex">
                <li><%= link_to "Log in", new_user_session_path, :class => 'btn btn-primary btn-group-sm border border-secondary fs-5' , :style => 'background-color: #1a1818'%></li>
                <li><%= link_to "Sign up", new_user_registration_path , :class => 'btn btn-primary btn-group-sm border border-secondary fs-5' , :style => 'background-color: #1a1818'%></li>
              </form>

            <% end %>
        </div>
      </div>
    </nav>

    <!-- displaying flash messages -->
    <% flash.each do |key, value| %>
      <% if key=alert %>
        <div class="alert alert-danger alert-dismissible mb-0">
          <%= value %>
      </div>
      <% else %>
        <div class="alert alert-success alert-dismissible mb-0">
          <%= value %>
        </div>
      <% end %>
    <% end %>

    <!-- displaying content of different pages -->
    <div>
      <%= yield %>
    </div>

  </body>
</html>
